/** {
	animation-play-state: paused;
}

.animation-active * {
	animation-play-state: running;
}
	
*/

.animation-inactive .play {
	/*color: #fff;*/
}

.animation-inactive .play:hover {
	cursor: pointer;
}

.animation-active .play {
	
}
	
header, section, footer {
	width: var(--frame-width);
}
	
section {
	font-family: var(--animationfont);
	overflow: hidden;
	position: relative;
	height: var(--frame-height);
	background: var(--framebgcolor);
}
	
section h1, 
h2 {
	position: absolute;
	color: transparent;
	text-transform: uppercase;
	font-weight: var(--headingfontweight);
}
		
section h1 {
	width: 80%;
	top: 40%;
	left: 10%;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1em;
	line-height: 1.6;
}

.animation-active section h1 {
	animation: text 4.25s 1 linear 4.25s forwards; 
}
		
h2 {
	top: 2em;
	left: 2em;
	letter-spacing: 0.5em;
	font-size: 16px;
}

.animation-active h2:nth-of-type(1) {
	animation: text 5s 1 linear forwards;
}
		
.animation-active h2:nth-of-type(2) {
	animation: text 25.5s 1 linear forwards 8.5s; 
}
		
h2:nth-of-type(3) {
	top: 78px;
	left: 150px;
}

.animation-active h2:nth-of-type(3) {
	animation: text 7.25s 1 linear both 26s; 
}

dl,
ul,
ol {
	position: absolute;
	height: 100%;
	width: 100%;
}
	
dl:nth-of-type(2) {
	top: 0;
	right: 0;
}

dl:nth-of-type(2) dd {
	top: 308px;
	left: 570px;
	font-size: 22px;
	letter-spacing: 1.1em;
}

.animation-active dl:nth-of-type(2) dd {
	animation: text 5.5s 1 ease-in forwards 9s; 
}

dl:nth-of-type(2) dt {
	top: 135px;
	left: 150px;
	letter-spacing: 0.6em;
}

.animation-active dl:nth-of-type(2) dt {
	animation: text 5.5s 1 ease-in forwards 9s;
}

#social dd,
#social dt {
	text-transform: none;
	letter-spacing: 0.8em;
	font-size: 16px;
}
	
#social dt {
	width: 1.125em;
	line-height: 1.8;
	word-wrap: break-word;
	background-repeat: no-repeat;
}
	
#social dt.linkedin {
	border-right: 10px solid #1e5a69;
	padding: 48px 18px 70px 8px;
	background-position: 14px 26px;
	background-image: url("../../images/linkedin-32.png");
	background-size: 0 0;
	top: calc(-var(--frame-height) * 1.5);
	left: 140px;
}

.animation-active #social dt.linkedin {
	animation: linkedin-dt 5s 1 linear forwards; 
}
		
#social dd.linkedin {
	top: 524px;
	left: 212px;
}

.animation-active #social dd.linkedin {
	animation: text 5s 1 linear forwards;
}
		
#social	dt.twitter {
	border-left: 10px solid #1e5a69;
	padding: 48px 0 70px 18px;
	background-position: 24px 26px;
	background-image: url("../../images/twitter-32.png");
	background-size: 0 0;
	top: calc(var(--frame-height) * 1.5);
	left: 538px;
}

.animation-active #social	dt.twitter {
	animation: twitter-dt 5s 1 linear forwards; 
}
		
#social dd.twitter {
	border-bottom: 10px solid #1e5a69;
	padding: 0 80px 258px 0;
	width: 130px;
	top: 170px;
	left: calc(var(--frame-width) * 1.5);
}

.animation-active #social dd.twitter {
	animation: twitter-dd 5s 1 linear forwards; 
}

em {
	font-style: normal;
	text-align: left;
	margin-left: -75px;
}
			
#social	dt.github {
	height: 7.5em;
	overflow: visible;
	border-left: 10px solid #1e5a69;
	padding: 48px 0 0 20px;
	background-position: 26px 26px;
	background-size: 0 0;
	background-image: url("../../images/github-32.png");
	top: calc(-var(--frame-height) * 1.5);
	left: 862px;
}

.animation-active #social	dt.github {
	animation: github-dt 5s 1 linear forwards; 
}
		
#social dd.github {
	top: 262px;
	left: 728px;
}

.animation-active #social dd.github {
	animation: text 5.5s 1 linear forwards; 
}
			
dd, 
dt, 
#companies li, 
#skills li {
	color: transparent;
	position: absolute;
	text-transform: uppercase;
}
	
#companies {
	top: 0;
	left: 0;
}
	
#companies li {
	height: 100%;
	width: 100%;
}
		
#companies li	span {
	position: absolute;
	font-size: 19px;
	width: auto;
	letter-spacing: 0.6em;
	white-space: nowrap;
}
			
#companies li:nth-child(1) .company {
	top: 0;
	left: -50%;
}

.animation-active #companies li:nth-child(1) .company {
	animation: company1-name 4s 1 linear both 11.5s; 
}
			
#companies li:nth-child(1) .date {
	top: 150%;
	left: 100%;
}

.animation-active #companies li:nth-child(1) .date {
	animation: company1-date 4s 1 linear both 11.5s; 
}
			
#companies li:nth-child(2) .company {
	left: 15%;
	top: 70%;
}

.animation-active #companies li:nth-child(2) .company {
	animation: text 3.75s 1 linear both 15s; 
}
			
#companies li:nth-child(2) .date {
	left: 18%;
	top: 75%;
}

.animation-active #companies li:nth-child(2) .date {
	animation: text 3.75s 1 linear both 15s; 
}
			
#companies li:nth-child(3) .company {
	right: 20%;
	top: 75%;
}

.animation-active #companies li:nth-child(3) .company {
	animation: text 3.75s 1 linear both 17s; 
}
			
#companies li:nth-child(3) .date {
	right: 23%;
	top: 80%;
}

.animation-active #companies li:nth-child(3) .date {
	animation: text 3.75s 1 linear both 17s; 
}
			
#companies li:nth-child(4) .company {
	right: -50%;
	top: 60%;
}

.animation-active #companies li:nth-child(4) .company {
	animation: company4-name 3.5s 1 linear both 19s; 
}
			
#companies li:nth-child(4) .date {
	right: 20%;
	top: 65%;
}

.animation-active #companies li:nth-child(4) .date {
	animation: text 3.5s 1 linear both 20s; 
}
			
#companies li:nth-child(5) .company {
	top: 235px;
	/*left: 222px;*/
	left: calc(-var(--frame-width) / 2);
}

.animation-active #companies li:nth-child(5) .company {
	animation: company5-name 3s 1 linear both 22s; 
}
			
#companies li:nth-child(5) .date {
	top: 380px;
	/*left: 270px;*/
	left: calc(-var(--frame-width) / 2);
}

.animation-active #companies li:nth-child(5) .date {
	animation: company5-date 3s 1 linear both 22s; 
}
			
#skills li {
	letter-spacing: 1.55em;
	font-size: 19px;
	position: absolute;
}

.animation-active #skills li {
	animation: text 7.25s 1 linear both 26s; 
}
		
/* CSS */
#skills li:nth-child(1) {
	top: 161px;
	left: 384px;
}
		
/* CSS3 */
#skills	li:nth-child(2) {
	top: 246px;
	left: 762px;
}
		
/* HAML */
#skills	li:nth-child(3)  {
	top: 414px;
	left: 761px;
}
		
/* HTML */
#skills	li:nth-child(4) {
	top: 246px;
	left: 384px;
}
		
/* HTML5 */
#skills	li:nth-child(5) {
	top: 78px;
	left: 720px;
}
		
/* JavaScript */
#skills	li:nth-child(6) {
	letter-spacing: 1.6em;
	top: 456px;
	left: 513px;
}
		
/* jQuery */
#skills	li:nth-child(7) {
	top: 330px;
	left: 679px;
}
		
/* Sass */
#skills	li:nth-child(8) {
	top: 414px;
	left: 385px;
}
		
/* Python */
#skills	li:nth-child(9) {
	top: 330px;
	left: 384px;
}
		
div.decoration, 
div.decoration div {
	position: absolute;
}
	
#deco-box {
	background: transparent;
	top: calc(var(--deco-base-unit) * 7);
	right: calc(var(--deco-base-unit) * 4);
	width: calc(var(--deco-base-unit) * 7);
	height: calc(var(--deco-base-unit) * 7);
	box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1-transparent), calc(-var(--deco-base-unit) * 22.4) calc(-var(--deco-base-unit) * 70) 0 var(--shadowbox2-transparent), calc(-var(--deco-base-unit) * 29.4) calc(-var(--deco-base-unit) * 70) 0 var(--shadowbox3-transparent), calc(-var(--deco-base-unit) * 50.4) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox4-transparent), calc(-var(--deco-base-unit) * 29.4) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox5-transparent), calc(-var(--deco-base-unit) * 29.4) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox6-transparent), calc(-var(--deco-base-unit) * 43.4) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox7-transparent), calc(-var(--deco-base-unit) * 9.8) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox8-transparent), calc(-var(--deco-base-unit) * 2.8) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox9-transparent), 0 calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox10-transparent), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11-transparent);
}

.animation-active #deco-box {
	animation: box 12s 1 linear forwards 7.75s, box-shadows 12s 1 linear forwards 7.75s; 
}

#deco-line1 {
	background: transparent;
	width: var(--deco-base-unit);
	height: 0;
	top: calc(-var(--frame-height) / 2);
	right: calc(var(--deco-base-unit) * 23);
	/*top: calc(-var(--deco-base-unit) *5.6;*/
	/*height: calc(var(--deco-base-unit) *33.6;*/
	/*background: $shapecolor;*/
}

.animation-active #deco-line1 {
	animation: line1 4.25s 1 ease-in forwards 15.25s; 
}
	
#deco-line2 {
	background: transparent;
	width: var(--deco-base-unit);
	height: 0;
	top: calc(-var(--frame-height) / 2);
	right: calc(var(--deco-base-unit)*16.5);
	/*top: calc(-var(--deco-base-unit) *4.2;*/
	/*height: calc(var(--deco-base-unit) *29.4;*/
	/*background: $shapecolor;*/
}

.animation-active #deco-line2 {
	animation: line2 4.25s 1 ease-in forwards 15.25s; 
}
	
#deco-line3 {
	background: transparent;
	width: 0;
	height: var(--deco-base-unit);
	top: calc(var(--deco-base-unit) * 7);
	right: calc(-var(--frame-width) / 2);
	/*right: 0;*/
	/*width: calc(var(--deco-base-unit) *56;*/
	/*background: $shapecolor;*/
}

.animation-active #deco-line3 {
	animation: line3 4.25s 1 ease-in forwards 15.25s; 
}
	
#deco-line4 {
	background: transparent;
	width: 0;
	height: var(--deco-base-unit);
	right: calc(-var(--frame-width) / 2);
	top: calc(var(--deco-base-unit) * 14);
	/*right: calc(var(--deco-base-unit) *3.6;*/
	/*width: calc(var(--deco-base-unit) *42;*/
	/*background: $shapecolor;*/
}

.animation-active #deco-line4 {
	animation: line4 4.25s 1 ease-in forwards 15.25s; 
}
	
#deco-innerbox {
	background: transparent;
	width: calc(var(--deco-base-unit) * 7);
	height: calc(var(--deco-base-unit) * 7);
	top: calc(var(--deco-base-unit) * 7);
	right: calc(var(--deco-base-unit) * 16.75);
	/*right: calc(var(--deco-base-unit) *45;*/
	/*background: $shapecolor;*/
}

.animation-active #deco-innerbox {
	animation: innerbox 4.35s 1 linear forwards 19s; 
}
	
#deco-line5 {
	background: transparent;
	top: -var(--frame-height);
	right: calc(var(--deco-base-unit) * 49);
	width: var(--deco-base-unit);
	height: 0;
	/*background: $shapecolor;*/
	/*top: calc(var(--deco-base-unit) *5;*/
	/*height: calc(var(--deco-base-unit) *12;*/
}

.animation-active #deco-line5 {
	animation: line5 3s 1 linear forwards 19.75s; 
}
	
#deco-line6 {
	background: transparent;
	top: -var(--frame-height);
	right: calc(var(--deco-base-unit) * 45);
	width: var(--deco-base-unit);
	height: 0;
	/*background: $shapecolor;*/
	/*top: calc(var(--deco-base-unit) *5;*/
	/*height: calc(var(--deco-base-unit) *11;*/
}

.animation-active #deco-line6 {
	animation: line6 3s 1 linear forwards 19.75s; 
}
	
#deco-line7 {
	background: transparent;
	top: calc(var(--deco-base-unit) * 9);
	right: -var(--frame-width);
	width: 0;
	height: var(--deco-base-unit);
	/*background: $shapecolor;*/
	/*right: calc(var(--deco-base-unit) *43;*/
	/*width: calc(var(--deco-base-unit) *12;*/
}

.animation-active #deco-line7 {
	animation: line7 3s 1 linear forwards 19.75s; 
}
	
#deco-line8 {
	background: transparent;
	top: calc(var(--deco-base-unit) * 13);
	right: -var(--frame-width);
	width: 0;
	height: var(--deco-base-unit);
	/*background: $shapecolor;*/
	/*right: calc(var(--deco-base-unit) *43;*/
	/*width: calc(var(--deco-base-unit) *11;*/
}

.animation-active #deco-line8 {
	animation: line8 3s 1 linear forwards 19.75s; 
}
	
#deco-line9 {
	background: transparent;
	top: calc(var(--frame-height) * 1.2);
	right: calc(var(--deco-base-unit) * 47);
	width: var(--deco-base-unit);
	height: 0;
	/*background: $shapecolor;*/
	/*top: calc(var(--deco-base-unit) *4;*/
	/*height: calc(var(--deco-base-unit) *12;*/
}

.animation-active #deco-line9 {
	animation: line9 3s 1 linear forwards 19.75s; 
}
	
#deco-line10 {
	background: transparent;
	top: calc(var(--frame-height) * 1.2);
	right: calc(var(--deco-base-unit) * 51);
	width: var(--deco-base-unit);
	height: 0;
	/*background: $shapecolor;*/
	/*top: calc(var(--deco-base-unit) *5;*/
	/*height: calc(var(--deco-base-unit) *11;*/
}

.animation-active #deco-line10 {
	animation: line10 3s 1 linear forwards 19.75s; 
}
	
#deco-line11 {
	background: transparent;
	top: calc(var(--deco-base-unit) * 11);
	right: calc(var(--frame-width) * 1.3);
	width: 0;
	height: var(--deco-base-unit);
	/*background: $shapecolor;*/
	/*right: calc(var(--deco-base-unit) *42;*/
	/*width: calc(var(--deco-base-unit) *12;*/
}
	
.animation-active #deco-line11 {
	animation: line11 3s 1 linear forwards 19.75s; 
}

#deco-line12 {
	background: transparent;
	top: calc(var(--deco-base-unit) * 7);
	right: calc(var(--frame-width) * 1.3);
	width: 0;
	height: var(--deco-base-unit);
	/*background: $shapecolor;*/
	/*right: calc(var(--deco-base-unit) *43;*/
	/*width: calc(var(--deco-base-unit) *11;*/
}

.animation-active #deco-line12 {
	animation: line12 3s 1 linear forwards 19.75s; 
}
	
#deco-innerbox2 {
	background: transparent;
	width: var(--deco-base-unit);
	height: var(--deco-base-unit);
	top: calc(var(--deco-base-unit) * 5);
	right: calc(var(--deco-base-unit) * 43);
	overflow: visible;
	box-shadow: calc(-var(--deco-base-unit) * 2) 0 0 transparent, calc(-var(--deco-base-unit) * 2) var(--deco-base-unit) 0 transparent, calc(-var(--deco-base-unit) * 4) -var(--deco-base-unit) 0 transparent, calc(-var(--deco-base-unit) * 4) 0 0 transparent, calc(-var(--deco-base-unit) * 4) var(--deco-base-unit) 0 transparent, calc(-var(--deco-base-unit) * 6) 0 0 transparent, calc(-var(--deco-base-unit) * 6) var(--deco-base-unit) 0 transparent, calc(-var(--deco-base-unit) * 8) 0 0 transparent, calc(-var(--deco-base-unit) * 8) var(--deco-base-unit) 0 transparent, calc(-var(--deco-base-unit) * 10) 0 0 transparent, calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 2) 0 transparent, calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 2) 0 transparent, calc(-var(--deco-base-unit) * 11) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 6) 0 transparent, calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 6) 0 transparent, calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 8) 0 transparent, calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 8) 0 transparent, calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 10) 0 transparent, calc(-var(--deco-base-unit) * 8) calc(var(--deco-base-unit) * 9) 0 transparent, calc(-var(--deco-base-unit) * 8) calc(var(--deco-base-unit) * 10) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 9) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 10) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 11) 0 transparent, calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 9) 0 transparent, calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 10) 0 transparent, calc(-var(--deco-base-unit) * 2) calc(var(--deco-base-unit) * 9) 0 transparent, calc(-var(--deco-base-unit) * 2) calc(var(--deco-base-unit) * 10) 0 transparent, 0 calc(var(--deco-base-unit) * 10) 0 transparent, -var(--deco-base-unit) calc(var(--deco-base-unit) * 8) 0 transparent, 0 calc(var(--deco-base-unit) * 8) 0 transparent, -var(--deco-base-unit) calc(var(--deco-base-unit) * 6) 0 transparent, var(--deco-base-unit) calc(var(--deco-base-unit) * 6) 0 transparent, 0 calc(var(--deco-base-unit) * 6) 0 transparent, -var(--deco-base-unit) calc(var(--deco-base-unit) * 4) 0 transparent, 0 calc(var(--deco-base-unit) * 4) 0 transparent, -var(--deco-base-unit) calc(var(--deco-base-unit) * 2) 0 transparent, 0 calc(var(--deco-base-unit) * 2) 0 transparent, calc(-var(--deco-base-unit) * 5) calc(var(--deco-base-unit) * 5) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 6) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 6) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 3) 0 transparent;
}

.animation-active #deco-innerbox2 {
	animation: innerbox2-transform 10.75s 1 linear forwards 21.25s, innerbox2-shadows 10.75s 1 linear forwards 21.25s;
}
	
#deco-grid1, 
#deco-grid2 {
	position: absolute;
	background: transparent;
	top: -var(--deco-base-unit);
	right: -var(--deco-base-unit);
}
	
#deco-grid1 {
	width: calc(var(--deco-base-unit) * 13);
	height: 1px;
	box-shadow: 0 var(--deco-base-unit) 0 transparent, 0 calc(var(--deco-base-unit) * 2) 0 transparent, 0 calc(var(--deco-base-unit) * 3) 0 transparent, 0 calc(var(--deco-base-unit) * 4) 0 transparent, 0 calc(var(--deco-base-unit) * 5) 0 transparent, 0 calc(var(--deco-base-unit) * 6) 0 transparent, 0 calc(var(--deco-base-unit) * 7) 0 transparent, 0 calc(var(--deco-base-unit) * 8) 0 transparent, 0 calc(var(--deco-base-unit) * 9) 0 transparent, 0 calc(var(--deco-base-unit) * 10) 0 transparent, 0 calc(var(--deco-base-unit) * 11) 0 transparent, 0 calc(var(--deco-base-unit) * 12) 0 transparent, 0 calc(var(--deco-base-unit) * 13) 0 transparent;
}

.animation-active #deco-grid1 {
	animation: grid1 7.5s 1 ease-in-out forwards 24.5s;
}
	
#deco-grid2 {
	width: 1px;
	height: calc(var(--deco-base-unit) * 13);
	box-shadow: -var(--deco-base-unit) 0 0 transparent, calc(-var(--deco-base-unit) * 2) 0 0 transparent, calc(-var(--deco-base-unit) * 3) 0 0 transparent, calc(-var(--deco-base-unit) * 4) 0 0 transparent, calc(-var(--deco-base-unit) * 5) 0 0 transparent, calc(-var(--deco-base-unit) * 6) 0 0 transparent, calc(-var(--deco-base-unit) * 7) 0 0 transparent, calc(-var(--deco-base-unit) * 8) 0 0 transparent, calc(-var(--deco-base-unit) * 9) 0 0 transparent, calc(-var(--deco-base-unit) * 10) 0 0 transparent, calc(-var(--deco-base-unit) * 11) 0 0 transparent, calc(-var(--deco-base-unit) * 12) 0 0 transparent, calc(-var(--deco-base-unit) * 13) 0 0 transparent;
}

.animation-active #deco-grid2 {
	animation: grid2 7.5s 1 ease-in-out forwards 24.5s;
}
	