:root {
	--shadowbox1: #1e5a69;
	--shadowbox2: #1e5a69;
	--shadowbox3: #1e5a69;
	--shadowbox4: #1e5a69;
	--shadowbox5: #1e5a69;
	--shadowbox6: #1e5a69;
	--shadowbox7: #1e5a69;
	--shadowbox8: #1e5a69;
	--shadowbox9: #1e5a69;
	--shadowbox10: #1e5a69;
	--shadowbox11: #1e5a69;
	--shadowbox1-transparent: transparent;
	--shadowbox2-transparent: transparent;
	--shadowbox3-transparent: transparent;
	--shadowbox4-transparent: transparent;
	--shadowbox5-transparent: transparent;
	--shadowbox6-transparent: transparent;
	--shadowbox7-transparent: transparent;
	--shadowbox8-transparent: transparent;
	--shadowbox9-transparent: transparent;
	--shadowbox10-transparent: transparent;
	--shadowbox11-transparent: transparent;
}