@keyframes text {
	0%, 15% {
		color: transparent;
	}
	50% {
		color: var(--animationtextcolor);
	}
	70%, 100% {
		color: transparent;
	}
}

@keyframes linkedin-dt {
	30%, 75% {
		transform: translateY(1288px);
		color: transparent;
		background-size: 0 0;
		background-position: 14px 26px;
	}
	50%, 70% {
		transform: translateY(1288px);
		color: var(--animationtextcolor);
		background-position: -2px 10px;
		background-size: 32px 32px;
	}
}
		
@keyframes twitter-dt {
	30%, 75% {
		transform: translateY(-880px);
		color: transparent;
		background-position: 24px 26px;
		background-size: 0 0;
	}
	35%, 70% {
		transform: translateY(-880px);
		color: var(--animationtextcolor);
		background-position: 8px 10px;
		background-size: 32px 32px;
	}
}
		
@keyframes twitter-dd {
	20%, 75% {
		transform: translateX(-1118px);
		color: transparent;
		overflow: visible;
	}
	50%, 70% {
		transform: translateX(-1118px);
		color: var(--animationtextcolor);
		overflow: visible;
	}
}

@keyframes github-dt {
	30%, 75% {
		transform: translateY(1348px);
		color: transparent;
		background-position: 26px 26px;
		background-size: 0 0;
	}
	35%, 70% {
		transform: translateY(1348px);
		color: var(--animationtextcolor);
		background-position: 10px 10px;
		background-size: 32px 32px;
	}
}
		
@keyframes box {
	8%, 30% {
		transform: translate(0, 0);
		background: var(--shapecolor);
	}
	32%, 36% {
		transform: translate(calc(-var(--deco-base-unit) * 4), calc(var(--deco-base-unit) * 4));
		background: var(--shapecolor);
	}
	40%, 100% {
		transform: translate(calc(-var(--deco-base-unit) * 4), calc(var(--deco-base-unit) * 4));
		background: transparent;
	}
}
		
@keyframes box-shadows {
	/* 7s: first 3 shapes (comprising boxes 1, 4, 5, 6, 7, 11) appear */
	8% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1), calc(-var(--deco-base-unit) * 22.4) calc(-var(--deco-base-unit) * 70) 0 var(--shadowbox2-transparent), calc(-var(--deco-base-unit) * 29.4) calc(-var(--deco-base-unit) * 70) 0 var(--shadowbox3-transparent), calc(-var(--deco-base-unit) * 50.4) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox4), calc(-var(--deco-base-unit) * 29.4) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox5), calc(-var(--deco-base-unit) * 29.4) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox6), calc(-var(--deco-base-unit) * 43.4) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox7), calc(-var(--deco-base-unit) * 9.8) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox8-transparent), calc(-var(--deco-base-unit) * 2.8) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox9-transparent), 0 calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox10-transparent), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11);
	}
	/* 8s: 4th shape (comprising boxes 8 and 9) appears */
	16%, 18% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1), calc(-var(--deco-base-unit) * 22.4) calc(-var(--deco-base-unit) * 70) 0 var(--shadowbox2-transparent), calc(-var(--deco-base-unit) * 29.4) calc(-var(--deco-base-unit) * 70) 0 var(--shadowbox3-transparent), calc(-var(--deco-base-unit) * 50.4) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox4), calc(-var(--deco-base-unit) * 29.4) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox5), calc(-var(--deco-base-unit) * 29.4) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox6), calc(-var(--deco-base-unit) * 43.4) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox7), calc(-var(--deco-base-unit) * 9.8) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox8), calc(-var(--deco-base-unit) * 2.8) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox9), 0 calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox10-transparent), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11);
	}
	/* 10s: top block (boxes 2 and 3) moves down, boxes 4 and 7 move to right, 8 and 9 move to right */
	20%, 24% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1), calc(-var(--deco-base-unit) * 22.4) 0 0 var(--shadowbox2), calc(-var(--deco-base-unit) * 29.4) 0 0 var(--shadowbox3), calc(-var(--deco-base-unit) * 36.4) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox4), calc(-var(--deco-base-unit) * 29.4) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox5), calc(-var(--deco-base-unit) * 29.4) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox6), calc(-var(--deco-base-unit) * 29.4) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox7), calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox8), 0 calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox9), 0 calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox10-transparent), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11);
	}
	/* 11s: boxes rearrange as 4 corners of square */
	26%, 28% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1), calc(-var(--deco-base-unit) * 22.4) 0 0 var(--shadowbox2), calc(-var(--deco-base-unit) * 29.4) 0 0 var(--shadowbox3), calc(-var(--deco-base-unit) * 29.4) calc(var(--deco-base-unit) * 7) 0 var(--shadowbox4), calc(-var(--deco-base-unit) * 29.4) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox5), calc(-var(--deco-base-unit) * 29.4) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox6), calc(-var(--deco-base-unit) * 22.4) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox7), calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox8), 0 calc(var(--deco-base-unit) * 30.8) 0 var(--shadowbox9), 0 calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox10), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11);
	}
	/* 12s: corners move inwards */
	33%, 36% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1), calc(-var(--deco-base-unit) * 16.8) 0 0 var(--shadowbox2), calc(-var(--deco-base-unit) * 23.8) 0 0 var(--shadowbox3), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 7) 0 var(--shadowbox4), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 16.8) 0 var(--shadowbox5), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox6), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox7), calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox8), 0 calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox9), 0 calc(var(--deco-base-unit) * 16.8) 0 var(--shadowbox10), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11);
	}
	/* 13s: top right (original DIV, boxes 1 and 11) and bottom left (boxes 5, 6, 7) corners disappear */
	40%, 48% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1-transparent), calc(-var(--deco-base-unit) * 16.8) 0 0 var(--shadowbox2), calc(-var(--deco-base-unit) * 23.8) 0 0 var(--shadowbox3), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 7) 0 var(--shadowbox4), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 16.8) 0 var(--shadowbox5-transparent), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox6-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox7-transparent), calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox8), 0 calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox9), 0 calc(var(--deco-base-unit) * 16.8) 0 var(--shadowbox10), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11-transparent);
	}
	/* 15s: remaining corners move inwards until touching */
	52%, 75% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1-transparent), calc(-var(--deco-base-unit) * 16.8) 0 0 var(--shadowbox2), calc(-var(--deco-base-unit) * 23.8) 0 0 var(--shadowbox3), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 7) 0 var(--shadowbox4), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 16.8) 0 var(--shadowbox5-transparent), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox6-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox7-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 14) 0 var(--shadowbox8), calc(-var(--deco-base-unit) * 9.8) calc(var(--deco-base-unit) * 14) 0 var(--shadowbox9), calc(-var(--deco-base-unit) * 9.8) calc(var(--deco-base-unit) * 7) 0 var(--shadowbox10), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11-transparent);
	}
	/* 16.5s: 3 moves slightly to left */
	78% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1-transparent), calc(-var(--deco-base-unit) * 16.8) 0 0 var(--shadowbox2), calc(-var(--deco-base-unit) * 26.6) 0 0 var(--shadowbox3), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 7) 0 var(--shadowbox4), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 16.8) 0 var(--shadowbox5-transparent), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox6-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox7-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 14) 0 var(--shadowbox8), calc(-var(--deco-base-unit) * 9.8) calc(var(--deco-base-unit) * 14) 0 var(--shadowbox9), calc(-var(--deco-base-unit) * 9.8) calc(var(--deco-base-unit) * 7) 0 var(--shadowbox10), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11-transparent);
	}
	/* 17s: 10 moves up to level of 2 and 3, 2 moves slightly to left, 3 moves further to left, 4 moves slightly to left */
	82% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1-transparent), calc(-var(--deco-base-unit) * 21) 0 0 var(--shadowbox2), calc(-var(--deco-base-unit) * 33.6) 0 0 var(--shadowbox3), calc(-var(--deco-base-unit) * 26.6) calc(var(--deco-base-unit) * 7) 0 var(--shadowbox4), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 16.8) 0 var(--shadowbox5-transparent), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox6-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox7-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 14) 0 var(--shadowbox8), calc(-var(--deco-base-unit) * 9.8) calc(var(--deco-base-unit) * 14) 0 var(--shadowbox9), calc(-var(--deco-base-unit) * 9.8) 0 0 var(--shadowbox10), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11-transparent);
	}
	/* 17.5s: 10, 2, 3 and 4 move further to left, 9 moves up to level of 2 and 3 */
	85% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1-transparent), calc(-var(--deco-base-unit) * 35) 0 0 var(--shadowbox2), calc(-var(--deco-base-unit) * 56) 0 0 var(--shadowbox3), calc(-var(--deco-base-unit) * 35) calc(var(--deco-base-unit) * 7) 0 var(--shadowbox4), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 16.8) 0 var(--shadowbox5-transparent), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox6-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox7-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 14) 0 var(--shadowbox8), calc(-var(--deco-base-unit) * 9.8) 0 0 var(--shadowbox9), calc(-var(--deco-base-unit) * 14) 0 0 var(--shadowbox10), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11-transparent);
	}
	/* 18s: 3 falls down, 2 at falling position, 10 and 9 further to left, 4 at falling position, 8 moves up to level of 4 */
	88% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1-transparent), calc(-var(--deco-base-unit) * 56) 0 0 var(--shadowbox2), calc(-var(--deco-base-unit) * 56) calc(var(--deco-base-unit) * 60) 0 var(--shadowbox3), calc(-var(--deco-base-unit) * 45.5) calc(var(--deco-base-unit) * 7) 0 var(--shadowbox4), calc(-var(--deco-base-unit) * 17) calc(var(--deco-base-unit) * 12) 0 var(--shadowbox5-transparent), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox6-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox7-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 7) 0 var(--shadowbox8), calc(-var(--deco-base-unit) * 23.8) 0 0 var(--shadowbox9), calc(-var(--deco-base-unit) * 28) 0 0 var(--shadowbox10), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11-transparent);
	}
	/* 18.25s: 3 becomes transparent; 10 at falling position, 9 to left, 2 fallen, 4 starting to fall, 8 to left */
	91% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1-transparent), calc(-var(--deco-base-unit) * 56) calc(var(--deco-base-unit) * 56) 0 var(--shadowbox2), calc(-var(--deco-base-unit) * 56) calc(var(--deco-base-unit) * 84) 0 var(--shadowbox3-transparent), calc(-var(--deco-base-unit) * 45.5) calc(var(--deco-base-unit) * 14) 0 var(--shadowbox4), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 16.8) 0 var(--shadowbox5-transparent), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox6-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox7-transparent), calc(-var(--deco-base-unit) * 36.4) calc(var(--deco-base-unit) * 7) 0 var(--shadowbox8), calc(-var(--deco-base-unit) * 42) 0 0 var(--shadowbox9), calc(-var(--deco-base-unit) * 56) 0 0 var(--shadowbox10), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11-transparent);
	}
	/* 18.5s: 10 falls, 9 at falling position, 4 falling, 8 at falling position */
	94% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1-transparent), calc(-var(--deco-base-unit) * 56) calc(var(--deco-base-unit) * 56) 0 var(--shadowbox2-transparent), calc(-var(--deco-base-unit) * 56) calc(var(--deco-base-unit) * 84) 0 var(--shadowbox3-transparent), calc(-var(--deco-base-unit) * 45.5) calc(var(--deco-base-unit) * 35) 0 var(--shadowbox4), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 16.8) 0 var(--shadowbox5-transparent), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox6-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox7-transparent), calc(-var(--deco-base-unit) * 45.5) calc(var(--deco-base-unit) * 7) 0 var(--shadowbox8), calc(-var(--deco-base-unit) * 56) 0 0 var(--shadowbox9), calc(-var(--deco-base-unit) * 56) calc(var(--deco-base-unit) * 84) 0 var(--shadowbox10), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11-transparent);
	}
	/* 18.75s: 9 falls */
	97% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1-transparent), calc(-var(--deco-base-unit) * 56) calc(var(--deco-base-unit) * 56) 0 var(--shadowbox2-transparent), calc(-var(--deco-base-unit) * 56) calc(var(--deco-base-unit) * 84) 0 var(--shadowbox3-transparent), calc(-var(--deco-base-unit) * 45.5) calc(var(--deco-base-unit) * 84) 0 var(--shadowbox4), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 16.8) 0 var(--shadowbox5-transparent), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox6-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox7-transparent), calc(-var(--deco-base-unit) * 45.5) calc(var(--deco-base-unit) * 7) 0 var(--shadowbox8), calc(-var(--deco-base-unit) * 56) calc(var(--deco-base-unit) * 70) 0 var(--shadowbox9), calc(-var(--deco-base-unit) * 56) calc(var(--deco-base-unit) * 84) 0 var(--shadowbox10-transparent), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11-transparent);
	}
	/* 19s: 8 becomes transparent */
	100% {
		box-shadow: calc(-var(--deco-base-unit) * 7) 0 0 var(--shadowbox1-transparent), calc(-var(--deco-base-unit) * 56) calc(var(--deco-base-unit) * 56) 0 var(--shadowbox2-transparent), calc(-var(--deco-base-unit) * 56) calc(var(--deco-base-unit) * 84) 0 var(--shadowbox3-transparent), calc(-var(--deco-base-unit) * 45.5) calc(var(--deco-base-unit) * 35) 0 var(--shadowbox4-transparent), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 16.8) 0 var(--shadowbox5-transparent), calc(-var(--deco-base-unit) * 23.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox6-transparent), calc(-var(--deco-base-unit) * 16.8) calc(var(--deco-base-unit) * 23.8) 0 var(--shadowbox7-transparent), calc(-var(--deco-base-unit) * 45.5) calc(var(--deco-base-unit) * 16.8) 0 var(--shadowbox8-transparent), calc(-var(--deco-base-unit) * 56) calc(var(--deco-base-unit) * 70) 0 var(--shadowbox9-transparent), calc(-var(--deco-base-unit) * 56) calc(var(--deco-base-unit) * 84) 0 var(--shadowbox10-transparent), 0 calc(var(--deco-base-unit) * 7) 0 var(--shadowbox11-transparent);
	}
}

@keyframes line1 {
	10% {
		background: var(--shapecolor);
		height: calc(var(--deco-base-unit) * 21);
	}
	30%, 90% {
		background: var(--shapecolor);
		top: calc(-var(--deco-base-unit) * 5.6);
		height: calc(var(--deco-base-unit) * 33.6);
	}
	100% {
		top: calc(-var(--deco-base-unit) * 5.6);
	}
}
		
@keyframes line2 {
	10% {
		background: var(--shapecolor);
		height: calc(var(--deco-base-unit) * 14);
	}
	30% {
		background: var(--shapecolor);
		top: calc(-var(--deco-base-unit) * 4.2);
		height: calc(var(--deco-base-unit) * 35);
	}
	60%, 90% {
		background: var(--shapecolor);
		top: calc(-var(--deco-base-unit) * 4.2);
		height: calc(var(--deco-base-unit) * 29.4);
	}
	100% {
		top: calc(-var(--deco-base-unit) * 4.2);
	}
}
		
@keyframes line3 {
	10% {
		background: var(--shapecolor);
		width: calc(var(--deco-base-unit) * 28);
	}
	30% {
		background: var(--shapecolor);
		right: 0;
		width: calc(var(--deco-base-unit) * 42);
	}
	60%, 90% {
		background: var(--shapecolor);
		right: 0;
		width: calc(var(--deco-base-unit) * 56);
	}
	100% {
		right: 0;
	}
}
		
@keyframes line4 {
	10% {
		background: var(--shapecolor);
		width: calc(var(--deco-base-unit) * 28);
	}
	30% {
		background: var(--shapecolor);
		right: calc(var(--deco-base-unit) * 3.6);
		width: calc(var(--deco-base-unit) * 47.6);
	}
	60%, 90% {
		background: var(--shapecolor);
		right: calc(var(--deco-base-unit) * 3.6);
		width: calc(var(--deco-base-unit) * 42); 
	}
	100% {
		right: calc(var(--deco-base-unit) * 3.6);
	}
}
		
@keyframes innerbox {
	10% {
		background: var(--shapecolor);
	}
	50%, 78% {
		background: var(--shapecolor);
		right: calc(var(--deco-base-unit) * 45);
	}
	100% {
		right: calc(var(--deco-base-unit) * 45);
  }
}

@keyframes line5 {
	5% {
		height: calc(var(--deco-base-unit) * 25);
		background: var(--shapecolor);
	}
	50%, 80% {
		top: calc(var(--deco-base-unit) * 5);
		height: calc(var(--deco-base-unit) * 12);
		background: var(--shapecolor);
	}
	100% {
		top: calc(var(--deco-base-unit) * 5);
  }
}

@keyframes line6 {
	8% {
		height: calc(var(--deco-base-unit) * 20);
		background: var(--shapecolor);
	}
	52%, 80% {
		top: calc(var(--deco-base-unit) * 5);
		height: calc(var(--deco-base-unit) * 11);
		background: var(--shapecolor);
	}
	100% {
		top: calc(var(--deco-base-unit) * 5);
	}
}

@keyframes line7 {
	5% {
		width: calc(var(--deco-base-unit) * 24);
		background: var(--shapecolor);
	}
	50%, 80% {
		right: calc(var(--deco-base-unit) * 43);
		width: calc(var(--deco-base-unit) * 12);
		background: var(--shapecolor);
	}
	100% {
		right: calc(var(--deco-base-unit) * 43);
	}
}

@keyframes line8 {
	5% {
		width: calc(var(--deco-base-unit) * 25);
		background: var(--shapecolor);
	}
	50%, 80% {
		right: calc(var(--deco-base-unit) * 43);
		width: calc(var(--deco-base-unit) * 11);
		background: var(--shapecolor);
	}
	100% {
		right: calc(var(--deco-base-unit) * 43);
	}
}

@keyframes line9 {
	5% {
		height: calc(var(--deco-base-unit) * 23);
		background: var(--shapecolor);
	}
	50%, 80% {
		top: calc(var(--deco-base-unit) * 4);
		height: calc(var(--deco-base-unit) * 12);
		background: var(--shapecolor);
	}
	100% {
		top: calc(var(--deco-base-unit) * 4);
	}
}

@keyframes line10 {
	5% {
		height: calc(var(--deco-base-unit) * 21);
		background: var(--shapecolor);
	}
	50%, 80% {
		top: calc(var(--deco-base-unit) * 5);
		height: calc(var(--deco-base-unit) * 11);
		background: var(--shapecolor);
	}
	100% {
		top: calc(var(--deco-base-unit) * 5);
	}
}

@keyframes line11 {
	5% {
		width: calc(var(--deco-base-unit) * 20);
		background: var(--shapecolor);
	}
	50%, 80% {
		right: calc(var(--deco-base-unit) * 42);
		width: calc(var(--deco-base-unit) * 12);
		background: var(--shapecolor);
	}
	100% {
		right: calc(var(--deco-base-unit) * 42);
	}
}

@keyframes line12 {
	5% {
		width: calc(var(--deco-base-unit) * 20);
		background: var(--shapecolor);
	}
	50%, 80% {
		right: calc(var(--deco-base-unit) * 43);
		width: calc(var(--deco-base-unit) * 11);
		background: var(--shapecolor);
	}
	100% {
		right: calc(var(--deco-base-unit) * 43);
	}
}

@keyframes innerbox2-transform {
	/* 22s: show initial box shadows */
	5%, 10% {
		transform: rotate(0) scale(1, 1);
		transform-origin: var(--innerbox2-transform-originX-from) var(--innerbox2-transform-originY-from);
	}
	/* 23s: rotate 45d and increase size */
	17% {
		transform: rotate(-45deg) scale(1.5, 1.5);
		transform-origin: var(--innerbox2-transform-originX-to) var(--innerbox2-transform-originY-to);
	}
	/* ~23s: rotate further 45d and increase size further */
	24%, 50% {
		transform: rotate(-90deg) scale(3, 3);
		transform-origin: var(--innerbox2-transform-originX-to) var(--innerbox2-transform-originY-to);
	}
	/* 26s: increase size further */
	52%, 100% {
		transform: rotate(-90deg) scale(3.5, 3.5);
		transform-origin: var(--innerbox2-transform-originX-to) var(--innerbox2-transform-originY-to);
	}
}
			
@keyframes innerbox2-shadows {
	/* 22s: show initial box shadows */
	5%, 7% {
		background: var(--shapecolor);
		box-shadow: calc(-var(--deco-base-unit) * 2) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) -var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 11) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 11) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), var(--deco-base-unit) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 5) calc(var(--deco-base-unit) * 5) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 6) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 6) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 3) 0 transparent;
	}
	/* show outer corner blocks */
	8%, 24% {
		background: var(--shapecolor);
		box-shadow: calc(-var(--deco-base-unit) * 2) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) -var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 11) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 11) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), var(--deco-base-unit) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 5) calc(var(--deco-base-unit) * 5) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 6) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 6) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 3) 0 transparent;
	}
	/* 23s: rotate 45d and increase size */
	/* ~23s: rotate further 45d and increase size further */
	/* 24s: show inner block */
	31% {
		background: var(--shapecolor);
		box-shadow: calc(-var(--deco-base-unit) * 2) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) -var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 11) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 11) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), var(--deco-base-unit) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 5) calc(var(--deco-base-unit) * 5) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 6) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 6) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 3) 0 transparent;
	}
	/* 25s: show outer inner blocks, grid should also appear at this point */
	38%, 50% {
		background: var(--shapecolor);
		box-shadow: calc(-var(--deco-base-unit) * 2) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) -var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 11) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 11) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), var(--deco-base-unit) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 5) calc(var(--deco-base-unit) * 5) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 3) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 3) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 7) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 7) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 7) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 7) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 3) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 3) 0 var(--shapecolor);
	}
	/* 26s: increase size further and bottom right box shadow moves up */
	52%, 91% {
		background: var(--shapecolor);
		box-shadow: calc(-var(--deco-base-unit) * 2) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) -var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) var(--deco-base-unit) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 11) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) calc(var(--deco-base-unit) * 9) 0 transparent, calc(-var(--deco-base-unit) * 8) calc(var(--deco-base-unit) * 10) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 11) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), var(--deco-base-unit) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), -var(--deco-base-unit) calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 5) calc(var(--deco-base-unit) * 5) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 3) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 3) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 7) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 7) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 7) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 7) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 3) 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 3) 0 var(--shapecolor);
	}
	/* 32s: hide */
	100% {
		box-shadow: calc(-var(--deco-base-unit) * 2) 0 0 transparent, calc(-var(--deco-base-unit) * 2) var(--deco-base-unit) 0 transparent, calc(-var(--deco-base-unit) * 4) -var(--deco-base-unit) 0 transparent, calc(-var(--deco-base-unit) * 4) 0 0 transparent, calc(-var(--deco-base-unit) * 4) var(--deco-base-unit) 0 transparent, calc(-var(--deco-base-unit) * 6) 0 0 transparent, calc(-var(--deco-base-unit) * 6) var(--deco-base-unit) 0 transparent, calc(-var(--deco-base-unit) * 8) 0 0 transparent, calc(-var(--deco-base-unit) * 8) var(--deco-base-unit) 0 transparent, calc(-var(--deco-base-unit) * 10) 0 0 transparent, calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 2) 0 transparent, calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 2) 0 transparent, calc(-var(--deco-base-unit) * 11) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 6) 0 transparent, calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 6) 0 transparent, calc(-var(--deco-base-unit) * 10) calc(var(--deco-base-unit) * 8) 0 transparent, calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 8) 0 transparent, calc(-var(--deco-base-unit) * 9) calc(var(--deco-base-unit) * 10) 0 transparent, calc(-var(--deco-base-unit) * 8) calc(var(--deco-base-unit) * 9) 0 transparent, calc(-var(--deco-base-unit) * 8) calc(var(--deco-base-unit) * 10) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 9) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 10) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 11) 0 transparent, calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 9) 0 transparent, calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 10) 0 transparent, calc(-var(--deco-base-unit) * 2) calc(var(--deco-base-unit) * 9) 0 transparent, calc(-var(--deco-base-unit) * 2) calc(var(--deco-base-unit) * 10) 0 transparent, 0 calc(var(--deco-base-unit) * 10) 0 transparent, -var(--deco-base-unit) calc(var(--deco-base-unit) * 8) 0 transparent, 0 calc(var(--deco-base-unit) * 8) 0 transparent, -var(--deco-base-unit) calc(var(--deco-base-unit) * 6) 0 transparent, var(--deco-base-unit) calc(var(--deco-base-unit) * 6) 0 transparent, 0 calc(var(--deco-base-unit) * 6) 0 transparent, -var(--deco-base-unit) calc(var(--deco-base-unit) * 4) 0 transparent, 0 calc(var(--deco-base-unit) * 4) 0 transparent, -var(--deco-base-unit) calc(var(--deco-base-unit) * 2) 0 transparent, 0 calc(var(--deco-base-unit) * 2) 0 transparent, calc(-var(--deco-base-unit) * 5) calc(var(--deco-base-unit) * 5) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 6) 0 transparent, calc(-var(--deco-base-unit) * 7) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 6) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 7) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 6) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 4) 0 transparent, calc(-var(--deco-base-unit) * 3) calc(var(--deco-base-unit) * 3) 0 transparent, calc(-var(--deco-base-unit) * 4) calc(var(--deco-base-unit) * 3) 0 transparent;
	}
}

@keyframes grid1 {
	20%, 90% {
		background: var(--shapecolor);
		box-shadow: 0 var(--deco-base-unit) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 2) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 3) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 4) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 5) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 6) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 7) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 8) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 9) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 10) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 11) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 12) 0 var(--shapecolor), 0 calc(var(--deco-base-unit) * 13) 0 var(--shapecolor);
	}
}
		
@keyframes grid2 {
	20%, 90% {
		background: var(--shapecolor);
		box-shadow: -var(--deco-base-unit) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 2) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 3) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 4) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 5) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 6) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 7) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 8) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 9) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 10) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 11) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 12) 0 0 var(--shapecolor), calc(-var(--deco-base-unit) * 13) 0 0 var(--shapecolor);
	}
}
			
@keyframes company1-name {
	10% {
		color: var(--animationtextcolor);
	}
	80%, 90% {
		top: 350px;
		left: 100px;
		color: var(--animationtextcolor);
	}
	100% {
		top: 350px;
		left: 100px;
	}
}

@keyframes company1-date {
	10% {
		color: var(--animationtextcolor);
	}
	80%, 90% {
		top: 400px;
		left: 150px;
		color: var(--animationtextcolor);
	}
	100% {
		top: 400px;
		left: 150px;
	}
}

@keyframes company4-name {
	10% {
		color: var(--animationtextcolor);
	}
	50%, 90% {
		right: 20%;
		color: var(--animationtextcolor);
	}
	100% {
		right: 20%;
	}
}

@keyframes company5-name {
	10% {
		color: var(--animationtextcolor);
	}
	60%, 75% {
		left: 222px;
		color: var(--animationtextcolor);
	}
	100% {
		left: 222px;
	}
}

@keyframes company5-date {
	10% {
		color: var(--animationtextcolor);
	}
	60%, 75% {
		left: 270px;
		color: var(--animationtextcolor);
	}
	100% {
		left: 270px;
	}
}