:root {
	--bodybgcolor: #fff;
	--textcolor: #000;
	--headingcolor: #000;
	--subheadingcolor: #000;

	--basefont: Cambria, Georgia, Times, "Times New Roman";
	--headingfont: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--subheadingfont: "Helvetica Neue", Helvetica, Arial, sans-serif;

	--headingfontweight: normal;

	--basefontsize: 16;
	--baselineheight: 1.5em;
	--baseline: var(--baselineheight);

	--linkcolor: rgb(210, 121, 121);
	--linkcolorhover: darken(var(--linkcolor), 10);
	--linkcolorvisited: var(--linkcolor);
	--linkcolorfocus: darken(var(--linkcolorvisited), 10);

	--frame-width: 1024px;
	--frame-height: 700px;

	--animationfont: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--animationtextcolor: #f8f8f8;
	--shapecolor: #1e5a69;
	--framebgcolor: #000;

	--deco-base-unit: 12px;

	--innerbox2-transform-originX-from: 50%;
	--innerbox2-transform-originX-to: -90%;
	--innerbox2-transform-originY-from: 50%;
	--innerbox2-transform-originY-to: -50%;
}
