html
	font-size: 100% // ~16px
	height: 100%
	
body
	height: 100%
	text-align: center
	background: #fff

h1
	+font-size(26)
	color: $shapecolor
	padding: 0.75em 0

header, section, footer
	margin: 0 auto
	width: $frame-width
	
section
	background: #000

footer
	padding: 1.5em 0
	p
		text-align: left
		+font-size(14)
		line-height: 1.4
		color: $shapecolor

.no-js
	.animated
		display: none