.no-js
	section h1, section h2, #social dt.linkedin, #social dd.linkedin, #social dt.twitter, #social dd.twitter, #social dt.github, #social dd.github, section dl dt, section dl dd, #companies li .company, #companies li .date, #skills li
		-webkit-animation: none
		-moz-animation: none
		-o-animation: none
		animation: none
		
	.decoration
		display: none

	header, section, footer
		width: 60%
		max-width: 64em

	section
		background: #fff
		height: auto
		text-align: left
		+box-sizing
		padding: $baseline $baseline 0 $baseline
		border-top: 1px solid #808080
		border-bottom: 1px solid #808080

		// display or use main page title?
		h1
			+font-size(18)
			width: auto
			color: #000
			
		h2
			display: block
			
		h1, h2
			position: relative
			top: auto
			left: auto
			letter-spacing: normal
			text-transform: none

		dl, ul, ol
			position: relative
			height: auto
			width: auto

		dl
			top: auto
			right: auto
			dt, dd
				top: auto
				left: auto
				letter-spacing: normal
			dd
				+font-size($basefontsize)
	
	h2, dt
		font-family: $subheadingfont
		color: $subheadingcolor

	dd, dt, #companies li, #skills li
		color: $textcolor
		position: relative
		text-transform: none

	#social
		dt
			color: $textcolor
			line-height: $baselineheight
		dd, dt
			position: relative
			padding: 0
			width: auto
			height: auto
			letter-spacing: normal
		.linkedin, .twitter, .github
			border: none
			top: auto
			left: auto
		
		dd.twitter 
			em
				margin-left: auto
		
	ol#companies
		position: relative
		width: auto
		height: auto
		top: auto
		left: auto
		li
			position: relative
			height: auto
			width: auto
			top: auto
			left: auto
			text-transform: none

		span
			position: relative
			letter-spacing: normal
			color: $textcolor
			+font-size($basefontsize)
		.company, .date
			top: auto
			left: auto
			right: auto

	#skills li
		letter-spacing: normal
		+font-size($basefontsize)
		top: auto
		left: auto

	ul, dl
		margin-bottom: $baseline*1.5

	li, dd
		line-height: $baselineheight

	h2, dt
		margin-bottom: $baseline/2
