---
title: Lost in Transitions
---
<section>
	<h1>Front End Developer</h1>
	<h2 id="find-me">Find me on:</h2>

	<ul id="stars">
		<li id="romola">
			<span class="firstname">LinkedIn</span>
			<span class="lastname">www.linkedin.com/in/redwar</span>
		</li>
		<li id="dominic">
			<span class="firstname"><em>@redwar</em></span>
			<span class="lastname">Twitter</span>
		</li>
		<li id="ben">
			<span class="firstname">redwar</span>
			<span class="lastname">GitHub</span>
		</li>
	</ul>

	<dl id="writer">
		<dt>Building websites</dt>
		<dd>since 1997</dd>
	</dl>

	<h2 id="worked-for">I have worked for:</h2>
	<ul id="names">
		<li id="name1">BetVictor</li>
		<li id="name2">2011&ndash;2012</li>
		<li id="name3">Alliance Boots</li>
		<li id="name4">2006&ndash;2009 &amp; 2001&ndash;2003</li>
		<li id="name5">Telef&oacute;nica UK</li>
		<li id="name6">2006</li>
		<li id="name7">Framfab UK</li>
		<li id="name8">2005&ndash;2006</li>
		<li id="name9">TUI UK</li>
		<li id="name10">2001&ndash;2003</li>
	</ul>

	<dl id="producer">
		<dt>Produced by</dt>
		<dd><span class="firstname">Ruth</span> <span class="lastname">Kenley<em>-Letts</em></span></dd>
	</dl>

	<dl id="director">
		<dt>Directed by</dt>
		<dd><span class="firstname">Harry</span> <span class="lastname">Bradbeer</span></dd>
	</dl>

	<div class="decoration" id="deco-box">
		<div class="decoration" id="deco-line1"></div>
		<div class="decoration" id="deco-line2"></div>
		<div class="decoration" id="deco-line3"></div>
		<div class="decoration" id="deco-line4"></div>
		<div class="decoration" id="deco-innerbox"></div>
		<div class="decoration" id="deco-line5"></div>
		<div class="decoration" id="deco-line6"></div>
		<div class="decoration" id="deco-line7"></div>
		<div class="decoration" id="deco-line8"></div>
		<div class="decoration" id="deco-line9"></div>
		<div class="decoration" id="deco-line10"></div>
		<div class="decoration" id="deco-line11"></div>
		<div class="decoration" id="deco-line12"></div>
		<div class="decoration" id="deco-innerbox2">
			<div class="decoration" id="deco-grid1"></div>
			<div class="decoration" id="deco-grid2"></div>
		</div>
	</div>

</section>